@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;

}
body{
    background: lightgray url('../imagens/fundo-madeira.jpg') top center no-repeat fixed;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;

}
    #telefone{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 627px;
        width: 311px;
        background: url('../imagens/frame-iphone.png') center center no-repeat ;
    }
    iframe#tela{
        position: relative;
        top: 79px;
        left: 21px;
        width: 269px;
        height: 473px;
    }
    #redes-sociais{
        position: absolute;
        right: .2%;
    }
        #redes-sociais img {
            height: 50px;
            width: 50px;
            margin: 7px 5px 10px 0px;
            border-radius: 50%;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
            box-sizing: border-box;
        }
        #redes-sociais img:hover {
            border: 2px solid rgba(255, 255, 255, 0.637);
            transform: translate(-3px, -3px);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
            transition: .5s, border .5s;
        }
